// Scss Document

@media (max-width: 576px) {
		footer{
		background-color: firebrick;
		color:#ffffff;
		height: 200px;
		margin-top: auto;
		text-align: center;

	}
		footer h6{

		padding: 1em;
		text-align: center;

	}
	
	.fright{
	text-align: center;
	
	}
}


@media (min-width: 577px) {


	footer{
		background-color: firebrick;
		color:#ffffff;
		height: 100px;
		margin-top: auto;

	}

	footer h6{

		padding: 4em;
		text-align: center;

	}


.fright{
	text-align: right;
	
}
	
}