// Scss Document

@media (max-width: 576px) {
		footer{
		background-color: firebrick;
		color:#ffffff;
		height: 200px;
		margin-top: auto;
		text-align: center;

	}
		.fright{

		text-align: center;
		margin-top: 20px;

	}
	
	.fleft{
	text-align: center;
	margin-top: 20px;
	
	}
}


@media (min-width: 577px) {


	footer{
		background-color: firebrick;
		color:#ffffff;
		height: 120px;
		margin-top: auto;

	}

.fright{

		text-align: right;
	margin-top: 20px;

	}


.fleft{
	text-align: left;
	margin-top: 20px;
	
}
	
}