// Scss Document
@media (max-width: 576px) {
	.home{
		padding-top: 80px;
		z-index: 2;
	
	}
	
	.indexBox{
	/*position: absolute;
	width: 180px;
	padding-top: 120px;
	padding-left: 20px;
	z-index: 10;
	font-size: 11px;*/
	display: none !important;
}
	/*.indexBox h3{
	font-size: 12px;
	font-weight: bold;
}*/
	
	.imageBox{
		/*max-width:30%;
		height: auto;*/
		display: none !important;
	}
.indexMobile{
	position: absolute;
	width: 220px;
	text-align: center;
	padding-top: 200px;
	padding-left: 20px;
	z-index: 8;
	color: firebrick;
	text-shadow: 3px 3px 2px #cccccc;
	
	}
	.imageMobile{
		max-width:30%;
		height: auto;
	}
}


@media (min-width: 577px) {
.home{
	z-index: 2;
	padding-top: 80px;
	
	}
	.indexMobile{
		display: none !important;
	}
	
	.imageMobile{
		display:none !important;
	}
.indexBox{
	position: absolute;
	width: 500px;
	padding-top: 250px;
	margin-left:80px;
	z-index: 10;
	font-size: 22px;
}

.indexBox h3{
	color: firebrick;
}
	
	.imageBox{
		max-width:100%;
		height: auto;
	}
.negrita{
	font-weight: 700;
	
}

.grosor{
	border-bottom:4px;
	border-bottom-style:double;
}

@mixin alinear($posicion, $margen, $espaciado){
	
	text-align:$posicion;
	margin:$margen;
	padding:$espaciado;
	
}
/*MAP colores fuente titulares slides home*/

$destacados:(
uno:#666666,
dos:#d7000f,
tres:#e4b0b3,
cuatro:#000000
);

@each $destacado,$color in $destacados{
	
	
	.titular-#{$destacado}{
		@extend .negrita;
		color:$color;
		@include alinear(left,2px,5px)
	}
}

@each $destacado,$color in $destacados{
	
	
	#borde-#{$destacado}{
		border-top-color:$color;
		border-bottom-color:$color;
		@extend .grosor;

	}
}

}
