// Scss Document

	/**BLOG O NOVEDADES**/
@media (max-width: 576px) {

	.novedades{
		padding-top: 100px;
	
	}
}
@media (min-width: 577px) {

	.novedades{
		padding-top: 100px;
		background-image:url("../images/flowers.jpeg");
		background-origin:content-box;
		background-position:bottom;
		background-repeat: no-repeat;
		
	
	
	}
}