/* CSS Document */
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: #ffffff;
  color: #000000; }

.navbar {
  font-size: 26px; }

@media (max-width: 576px) {
  footer {
    background-color: firebrick;
    color: #ffffff;
    height: 100px;
    margin-top: auto; }

  footer h6 {
    padding: 1em;
    text-align: center; } }
@media (min-width: 577px) {
  footer {
    background-color: firebrick;
    color: #ffffff;
    height: 100px;
    margin-top: auto; }

  footer h6 {
    padding: 4em;
    text-align: center; } }
.home {
  padding-top: 100px; }

.negrita, .titular-uno, .titular-dos, .titular-tres, .titular-cuatro {
  font-weight: 700; }

.grosor, #borde-uno, #borde-dos, #borde-tres, #borde-cuatro {
  border-top: 4px;
  border-top-style: double;
  border-bottom: 4px;
  border-bottom-style: double; }

/*MAP colores fuente titulares slides home*/
.titular-uno {
  color: #666666;
  text-align: left;
  margin: 2px;
  padding: 5px; }

.titular-dos {
  color: #d7000f;
  text-align: left;
  margin: 2px;
  padding: 5px; }

.titular-tres {
  color: #e4b0b3;
  text-align: left;
  margin: 2px;
  padding: 5px; }

.titular-cuatro {
  color: #000000;
  text-align: left;
  margin: 2px;
  padding: 5px; }

#borde-uno {
  border-top-color: #666666;
  border-bottom-color: #666666; }

#borde-dos {
  border-top-color: #d7000f;
  border-bottom-color: #d7000f; }

#borde-tres {
  border-top-color: #e4b0b3;
  border-bottom-color: #e4b0b3; }

#borde-cuatro {
  border-top-color: #000000;
  border-bottom-color: #000000; }

/**BLOG O NOVEDADES**/
@media (max-width: 576px) {
  .novedades {
    padding-top: 100px; } }
@media (min-width: 577px) {
  .novedades {
    padding-top: 100px;
    background-image: url("../images/flowers.jpeg");
    background-origin: content-box;
    background-position: bottom;
    background-repeat: no-repeat; } }
/* CSS Document */
.productos {
  padding-top: 100px; }

.productos a {
  color: #ffffff;
  text-decoration: none; }
  .productos a:hover {
    opacity: 1; }

a {
  color: firebrick; }
  a:hover {
    opacity: 1; }

img {
  max-width: 100%; }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; }
