/* CSS Document */
@media (max-width: 576px) {
  .navbar-brand {
    font-size: 18px;
    font-weight: bold;
    color: firebrick;
    text-align: center; } }
@media (min-width: 577px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: #ffffff;
    color: #000000; }

  .navbar {
    font-size: 22px; }

  .navbar-brand {
    font-size: 40px;
    color: firebrick; } }
@media (max-width: 576px) {
  footer {
    background-color: firebrick;
    color: #ffffff;
    height: 200px;
    margin-top: auto;
    text-align: center; }

  .fright {
    text-align: center;
    margin-top: 20px; }

  .fleft {
    text-align: center;
    margin-top: 20px; } }
@media (min-width: 577px) {
  footer {
    background-color: firebrick;
    color: #ffffff;
    height: 120px;
    margin-top: auto; }

  .fright {
    text-align: right;
    margin-top: 20px;
    padding-top: 20px; }

  .fleft {
    text-align: left;
    margin-top: 20px; } }
@media (max-width: 576px) {
  .home {
    padding-top: 80px;
    z-index: 2; }

  .indexBox {
    /*position: absolute;
    width: 180px;
    padding-top: 120px;
    padding-left: 20px;
    z-index: 10;
    font-size: 11px;*/
    display: none !important; }

  	/*.indexBox h3{
  	font-size: 12px;
  	font-weight: bold;
  }*/
  .imageBox {
    /*max-width:30%;
    height: auto;*/
    display: none !important; }

  .indexMobile {
    position: absolute;
    width: 200px;
    text-align: center;
    padding-top: 200px;
    padding-left: 10px;
    z-index: 8;
    color: firebrick;
    text-shadow: 3px 3px 2px #cccccc; }

  .imageMobile {
    max-width: 30%;
    height: auto; } }
@media (min-width: 577px) {
  .home {
    z-index: 2;
    padding-top: 80px; }

  .indexMobile {
    display: none !important; }

  .imageMobile {
    display: none !important; }

  .indexBox {
    position: absolute;
    width: 500px;
    padding-top: 250px;
    margin-left: 80px;
    z-index: 10;
    font-size: 22px; }

  .indexBox h3 {
    color: firebrick; }

  .imageBox {
    max-width: 100%;
    height: auto; }

  .negrita, .titular-uno, .titular-dos, .titular-tres, .titular-cuatro {
    font-weight: 700; }

  .grosor, #borde-uno, #borde-dos, #borde-tres, #borde-cuatro {
    border-bottom: 4px;
    border-bottom-style: double; }

  /*MAP colores fuente titulares slides home*/
  .titular-uno {
    color: #666666;
    text-align: left;
    margin: 2px;
    padding: 5px; }

  .titular-dos {
    color: #d7000f;
    text-align: left;
    margin: 2px;
    padding: 5px; }

  .titular-tres {
    color: #e4b0b3;
    text-align: left;
    margin: 2px;
    padding: 5px; }

  .titular-cuatro {
    color: #000000;
    text-align: left;
    margin: 2px;
    padding: 5px; }

  #borde-uno {
    border-top-color: #666666;
    border-bottom-color: #666666; }

  #borde-dos {
    border-top-color: #d7000f;
    border-bottom-color: #d7000f; }

  #borde-tres {
    border-top-color: #e4b0b3;
    border-bottom-color: #e4b0b3; }

  #borde-cuatro {
    border-top-color: #000000;
    border-bottom-color: #000000; } }
/**BLOG O NOVEDADES**/
@media (max-width: 576px) {
  .novedades {
    padding-top: 120px; } }
@media (min-width: 577px) {
  .novedades {
    padding-top: 100px;
    background-image: url("../images/flowers.jpeg");
    background-origin: content-box;
    background-position: bottom;
    background-repeat: no-repeat; } }
/* CSS Document */
.productos {
  padding-top: 100px; }

.productos a {
  color: #ffffff;
  text-decoration: none; }
  .productos a:hover {
    opacity: 1; }

a {
  color: firebrick; }
  a:hover {
    opacity: 1; }

img {
  max-width: 100%; }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; }
