/* CSS Document */

/*Camel Case ejemplo: pSocial
  BEM ejemplo: p.social
  kebab-case ejemplo p-social*/

@media (max-width: 576px) {
	body.home{
		background-image:none;
	
	}
		.contacto{
		backgound-image:none;
	}
		section#social img {
			display: none;
	}
		section#header h1 {
			display: none;
	}
	img{
	max-width: 100%;
}
		footer{
		background-color: firebrick;
		color:#ffffff;
		height: 50px;
		margin-top: auto;

	}

}
	
@media (min-width: 577px) {


	body{
		background-color: #ffffff;
		font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
		font-size: 16px;
		color:#000000;
		text-decoration: none;
		 display: flex;
		 min-height: 100vh;
		 flex-direction: column;
		 justify-content: flex-start;

	}
	body.home{
		background-image:url("../images/home.JPEG");
		background-size:100%;
		background-repeat: no-repeat;
	
	}





	p{
		padding-right: 10em;
		padding-left: 3em;
	}




	h1.titulo--negrita{
		font-weight: bold;
	
	}
	h2.titulo{
		text-align: center;
		color:firebrick;
	}
	.brand{
		padding-top: 60px;
	}

/*Titular*/
	
	
	section#header{
		font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
		color:firebrick;
		padding-top: 20px;
		text-shadow: 2px 2px 3px #cccccc;
		text-align:center;
		
	}
	section#header h1{
		font-size: 6vw;
		padding-top:20px;
		
		
	}
	
	
/*REDES SOCIALES*/
	
	section#social{
		
			
	}
	
	section#social img {
		max-width: 40%;
  		height: auto;

	}


	section#logo img {
		max-width: 100%;
  		height: auto;

	}


.desc{
	margin-top: 300px;
}
	
	
	
	/**NOSOTROS**/
	.nosotros{
	
		padding: 20px;

	}
	.nosotrosWhite{
		background-color: white;
		padding: 40px;
		font-size: 1.2em;
	

	}
	.nosotrosBottom{
		padding-top: 20px;
		font-size: 1.5em;
		color: white;
	}
	.nosotrosComment{
		color: white;
		background-color:black;
		font-size: 1.2em;
		
	}
	
	.nosotrosComment ul{
		padding-left:80px;
	}
	
	.nosotrosComment a{
		color:firebrick;
	}
	
	.nosotrosComment img{
		 max-width: 100%;
  		height: auto;
		padding-top: 20px;
	}

	/**PRODUCTOS**/

img{
	max-width: 100%;
}
	.productos{
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content:space-around;

	}
	.prod{
		width: 25%;
		text-align:center;
		padding-top: 50px;
		overflow: hidden;
		border-radius: 25px;

	}

	.prod img{
		
		border-radius: 25px;
		transition: all 1s;
	
		

	}
	
	.prod img:hover{
		
		transform:scale(1.8);
	
		
		
	}

	/**BLOG O NOVEDADES**/
	.novedades{
		background-image:url("../images/formTropical2.png");
		
	
	}

	/**Contacto**/
	.contacto{
		background-image:url("../images/formTropical.jpeg");
		background-size:100%;
		background-repeat: no-repeat;
		
	
	}

	

	footer{
		background-color: firebrick;
		color:#ffffff;
		height: 100px;
		margin-top: auto;

	}

	footer h6{

		padding: 4em;
		text-align: center;

	}



}


